# Ignore Python virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.so

# Ignore environment variables and secret keys
.env

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary and log files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
